{% extends 'App/Homepage.html' %}
{% block content %}
{% load static%}


<div class="products-c">
  <span>Search results for: {{search}}</span>
  <div class="products-grid-c">
    {% for i in post %}
    <div class="product-card">
      <a href="products/{{i.id}}"><img src="/media/{{i.product_image1}}" alt="{{i.product_image1}}"></a>
      <span>{{i.product_name}}</span>
      <span><strong>₹{{i.price}}</strong></span>
    </div>
    {% endfor %}
  </div>
</div>

{% load static %}
<script defer src="{% static 'css/cart.js' %}"></script>

{% endblock content %}



</body>
</html>